@import url(chrome://sstart/skin/properties.css);

.colortext {
	width: 70px;
}

caption, label, textbox, menulist, menuitem, button {
	font-family: Tahoma;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
}

textbox[type="autocomplete"] {
	min-width: 150px;
}
