@import url(chrome://global/skin/);

#browseFile, #browseCustomImage {
	height: 20px;
	min-width: 0;
}

textbox[type="autocomplete"] {
	height: 22px;
}

.colortext {
	width: 70px;
}

.colorbutt {
	height: 20px;
	width: 20px;
	min-width: 20px;
	-moz-appearance: none; 
	border: none;
}
