body {
    margin: 0px;
    padding: 0px;
    font-family: Tahoma;
    font-size: 11px;
    width: 100%;
    height: 100%;
}

.background-style-1 {
    background-attachment: fixed;
}

.background-style-2 {
    background-size: cover;
    background-attachment: fixed;
}

#factory {
    display: none;
}

.widget {
    position: absolute;
    border: 1px solid #E0E0E0;
    -moz-border-radius: 3px;
}

.widget:hover {
    border-color: darkgray;
}

.header {
    height: 20;
    padding-right: 2px;
    background: #E0E0E0;
    position: absolute;
    left: 0;
    right: 0;
}

body.b-head .header {
    bottom: 0;
}

.body {
    position: absolute;
    left: 0;
    top: 20;
    right: 0;
    bottom: 0;
}

body.b-head .body {
    top: 0;
    bottom: 20;
}

.icon {
    float: left;
    width: 16;
    height: 16;
    background-position: center;
    background-repeat: no-repeat;
	margin: 2px;
}

.title {
    position: absolute;
    left: 22;
    top: 2;
    right: 45;
    bottom: 2;
    white-space: nowrap;
    overflow: hidden;
}

body.b-head .title {
    top: 3;
}

.title input {
    margin-left: -1px;
    margin-top: -1px;
    font: inherit;
    background: inherit;
    width: 100%;
    border: none;
}

.button {
    float: right;
    margin-left: 1px;
	margin-top: 3px;
    width: 12px;
    height: 12px;
    background-image: url(chrome://sstart/skin/buttons.png);
}

body.b-head .button {
	margin-top: 5px;
}

.remove {
    background-position: 12px;
}

.refresh {
    background-position: 24px;
}

br {
    clear: both;
}

/* Search */

.search {
    border: none;
    width: 100%;
    height: 100%;
    padding: 2;
}

/* Thumbnail */

.thumbnail {
    display: block;
}

.thumbnail img:first-of-type {
	max-height: 100%;
	max-width: 100%;
	border: none;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	position: absolute;
}

.thumbnail .throbber {
    display: none;
    width: 100%;
    height: 100%;
    background: url(chrome://sstart/skin/throbber.gif) center no-repeat;
}

/* Quickstart */
#quickstart {
    background: lightYellow;
    padding: 2em;
    width: 40%;
    margin: auto;
    -moz-border-radius: 2em;
    position: absolute;
    top: 200px;
    left: 30%;
    text-align: center;
}

/* Is-widget menu */

body.is-widget #menu-add,
body.is-widget #menu-refresh,
body.is-widget #menu-prefs {
    display: none;
}

body.no-widget #menu-refreshone,
body.no-widget #menu-rename,
body.no-widget #menu-properties,
body.no-widget #menu-remove {
    display: none;
}

body.is-search #menu-refreshone,
body.is-search #menu-rename {
    display: none;
}

/* Lock-unlock */

body.lock-edits #menu-lock,
body.lock-edits .button.refresh,
body.lock-edits .button.remove,
body.lock-edits .button.properties {
    display: none;
}

body.lock-edits .hlink {
    height: 20px;
	margin-top: -20px;
}

body.lock-edits.b-head .hlink {
    display: none;
}

body.lock-edits.b-head .hlinkb {
    bottom: -20px;
    height: 20px;
    left: 0;
    position: absolute;
    right: 0;
}

body.lock-edits .title {
	right: 10px;
}

body.unlock-edits #menu-unlock {
    display: none;
}

body.unlock-edits .hlink,
body.no-hlink .hlink {
    display: none;
}

/* Decorations */

body.no-decorations.lock-edits .widget {
    border: 1px transparent;
}

body.no-decorations.lock-edits .widget .header {
    display: none;
}
